.glass(@color1, @color2, @color3, @color4) {
	background: -moz-linear-gradient(top, @color1 0%, @color2 50%, @color3 51%, @color4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(50%,@color2), color-stop(51%,@color3), color-stop(100%,@color4));
	background: -webkit-linear-gradient(top, @color1 0%,@color2 50%,@color3 51%,@color4 100%);
	background: -o-linear-gradient(top, @color1 0%,@color2 50%,@color3 51%,@color4 100%);
	background: -ms-linear-gradient(top, @color1 0%,@color2 50%,@color3 51%,@color4 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color4',GradientType=0 )";
	background: linear-gradient(top, @color1 0%,@color2 50%,@color3 51%,@color4 100%);
}

.gradient(@color1, @color2, @stop1, @color3) {
	background: -moz-linear-gradient(top, @color1 0%, @color2 @stop1, @color3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(@stop1,@color2), color-stop(100%,@color3));
	background: -webkit-linear-gradient(top, @color1 0%,@color2 @stop1,@color3 100%);
	background: -o-linear-gradient(top, @color1 0%,@color2 @stop1,@color3 100%);
	background: -ms-linear-gradient(top, @color1 0%,@color2 @stop1,@color3 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 )";
	background: linear-gradient(top, @color1 0%,@color2 @stop1,@color3 100%);
}

@borderColor: #ffddf7;

html {
	height: 100%;
}

html, body {
	background: #e6d546;
	.gradient(#e6d546, #ffef89, 26%, #ffef89);
	background-repeat: repeat-x;
}

body {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body, input {
	font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main {
	position: relative;
	background-color: #FAF6FB;
	padding: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.333);
}

h1, h2, h3, h4, h5, h6, th, td, caption {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-align: left;
}

a {
	text-decoration: none;
	color: #b57695;
}

a:hover {
	text-decoration: underline;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #533166;
	box-shadow: 0 5px 10px rgba(0,0,0,.25);
}

section.meat {
	padding-top: 91px;
}

header, footer, th {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.75);
}

header, footer {
	background-color: #5b3671;
	.gradient(#5b3671, #745486, 80%, #745486);
	padding: 60px 10px 10px;
	font-size: 1.2em;
}

header a, footer a, thead a {
	color: #FFEF89;
}

footer {
	padding: 1em 20px 1px;
	border-top: 1px solid #2e1c3a;
}

p {
	margin: 0 0 1em 0;
}

h1 {
	font-size: 1em;
}

header h2 {
	font-size: .85em;
	position: absolute;
	top: 40px;
	color: #b394c5;
	text-transform: uppercase;
}

.searchBox {
	position: absolute;
	top: 58px;
	right: 10px;
	input {
		font-size: 100%;
	}
}

#searchInput {
	width: 10em;
	padding-left: 7px;
	background-color: #3e254c;
	color: white;
	border-color: #5a366e;
	border-radius: 5px;
	border-style: inset;
	border-width: 1px;
	&:focus {
		outline-width: 0;
	}
	&::-webkit-input-placeholder {
		color: #5a366e;
	}
}

#searchButton {
	padding: 1px 10px;
	background-color: #b57695;
	border-width: 1px;
	border-radius: 5px;
	color: white;
}

#searchButton[disabled] {
	opacity: .5;
}

.glossaryBox {
	position: absolute;
	top: 62px;
	left: 300px;
	font-size: .85em;
	line-height: 20px;
}

#glossary {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease-in 0.2s;
	-moz-transition: all ease-in 0.2s;
	position: absolute;
	top: 1.5em;
	margin: 0;
	background-color: white;
	color: black;
	text-shadow: none;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	border-radius: 5px;
	width: 20em;
	padding: 10px;
	dt, dd {
		padding: 5px 0;
	}
	dt {
		clear: left;
		float: left;
		width: 3em;
	}
	dd {
		padding-left: 3em;
		margin: 0;
	}
}

.glossaryBox.open #glossary {
	opacity: 1;
	visibility: visible;
}


table {
	border-spacing: 0;
	border-top: 1px solid #fc993c;
}

caption {
	font-style: italic;
	padding: 20px 0 5px 10px;
}

th, td {
	padding: 5px 10px 5px 10px;
	border-width: 0 0 1px 0;
	border-color: @borderColor;
	border-style: solid;
}

th:first-child, td:first-child {
	border-left-width: 0;
} 

th:last-child, td:last-child {
	border-right-width: 0;
} 

.list {
	width: 100%;
}

thead th {
	background-color: #e76b00;
	.glass(#e76b00, #ea7c1d, #e76b00, #ea7c1d);
	border-bottom-color: #a04a00;
	border-right-color: #4D3452;
	border-left-color: #4D3452;
}

tbody td {
	background-color: white;
}

tbody th {
	background-color: #b57695;
	.gradient(#a06884, #b57695, 80%, #a06884);
	border-top: 1px solid #cca2b7;
	text-transform: uppercase;
	font-size: .85em;
}

th.entity {
	white-space: nowrap;
}
td.entity {
	font-size: 2.5em;
}
td.mac {
	font-size: 1.4em;
}
td.iphone {
	white-space: nowrap;
	line-height: 1.5em;
}
td.html {
	font-family: Menlo, Consolas, Andale Mono, Courier, monospace;
}

.highlight {
	background-color: black;
	color: white;
}

tbody.highlighted td,
tbody.highlighted .key {
	background-color: #CCC;
	color: #999;
}

tbody.highlighted tr.highlighted td.entity,
tbody.highlighted tr.highlighted td.description,
tbody.highlighted tr.highlighted td.mac,
tbody.highlighted tr.highlighted td.iphone,
tbody.highlighted tr.highlighted td.html,
tbody.highlighted tr.highlighted td.ascii {
	background-color: #FFF;
	color: black;
}

.key,
tbody.highlighted tr.highlighted .key {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin-right: 2px;
	padding: 1px 2px;
	color: black;
}

.key.modifier,
tbody.highlighted tr.highlighted .key.modifier {
	color: #6F6C71;
}

.key.inverted,
tbody.highlighted tr.highlighted .key.inverted {
	background-color: #6f6c71;
	color: white;
	letter-spacing: -1px;
	border-radius: 4px;
}

.key.touchhold,
tbody.highlighted tr.highlighted .key.touchhold {
	border-width: 1px 8px 1px 8px;
	padding-left: 3px;
	padding-right: 3px;
}

.notAvailable,
tbody.highlighted tr.highlighted .notAvailable {
	color: #808080;
}
